@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@layer base {
	@font-face {
		font-family: 'CloisterBlack';
		src: url('/fonts/CloisterBlack.ttf') format('truetype');
	}

	body {
		background-color: #fdf6ec;
	}
}
